@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

div.titulo{
    font-size: 20px;
    padding: 2%;
    color: rgb(216, 161, 154);
}


html,
body {
	height: 100%;
}

body {
	margin: 0;
	background:  url(../css/Imagenes/pexels-karolina-grabowska-4210784.jpg);
	font-family: sans-serif;
	font-weight: 100;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(109, 32, 32, 0.1);
}

th,
td {
    font-size: 20px;
	padding: 15px;
	background-color: rgba(163, 142, 122, 0.2);
	color: #fff;
}

th {
	text-align: left;
}

 button, a
{
    max-width: 100px;
    background: #4553a5e7;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;      
}

a{
    background: #a54545e7;
    text-decoration: none;
}


